In [27]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [28]:
file_path = './88b9f0e9-2800-4f00-aee4-31f5183bee2f.csv'
data = pd.read_csv(file_path, index_col='_id', parse_dates=True)

In [29]:
data.describe()

             Edad  Fallecido a los Dias              X             Y
count  522.000000            528.000000     528.000000  5.280000e+02
mean    43.549808              1.482955  576078.332734  6.249499e+06
std     21.547929              3.778961   96435.699403  1.418700e+05
min      0.000000              0.000000  370376.051500  6.128700e+06
25%     24.000000              0.000000  546260.510000  6.146855e+06
50%     42.000000              0.000000  575152.762750  6.174719e+06
75%     61.000000              1.000000  614238.660000  6.321504e+06
max     94.000000             27.000000  839797.500100  6.652420e+06

In [30]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 528 entries, 1 to 528
Data columns (total 14 columns):
Fecha y hora            528 non-null object
Departamento            528 non-null object
Localidad               528 non-null object
Jurisdiccion            528 non-null object
Tipo de Siniestro       528 non-null object
Vehiculo                528 non-null object
Rol                     528 non-null object
Edad                    522 non-null float64
Sexo                    527 non-null object
Fallecido a los Dias    528 non-null int64
Otro vehiculo           368 non-null object
Lugar del Siniestro     528 non-null object
X                       528 non-null float64
Y                       528 non-null float64
dtypes: float64(3), int64(1), object(10)
memory usage: 61.9+ KB

In [31]:
data['Tipo de Siniestro'].unique()

array(['COLISIÓN ENTRE VEHÍCULOS', 'DESPISTE', 'ATROPELLO DE PEATÓN',
       'CAÍDA', 'ATROPELLO DE ANIMALES',
       'COLISIÓN CON OBSTÁCULO EN CALZADA'], dtype=object)

In [32]:
data['Edad'].isnull().sum()

6

In [33]:
data['Sexo'].isnull().sum()

1

In [34]:
data[data['Tipo de Siniestro'] == 'COLISIÓN ENTRE VEHÍCULOS']['Otro vehiculo'].isnull().sum()

0

In [40]:
data['Otro vehiculo'].unique()

array(['OMNIBUS', 'CAMION', nan, 'AUTO', 'CAMIONETA', 'MOTO', 'BICICLETA',
       'CARRO', 'MAQUINARIA', 'TREN'], dtype=object)

In [ ]:
sns.